:root {
  --pixel-size: 8px;

  /* Backgrounds */
  --primary-background: #f4f8ff;
  --secondary-background: #dae8ff;
  --cell-background: #93bbfb;
  --tile-background: #ffffff;

  /* Colors */
  --primary-text-color: #212638;
  --secondary-text-color: #ffffff;
  --score-text-color: #776e65;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background: var(--primary-background);
  color: var(--primary-text-color);
  font-size: calc(var(--pixel-size) * 2.25);
  line-height: calc(var(--pixel-size) * 3.5);
}

h1 {
  font-size: calc(var(--pixel-size) * 5);
  line-height: calc(var(--pixel-size) * 5);
  margin: calc(var(--pixel-size) * 1.5) calc(var(--pixel-size) * 0);
}
